<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Busqueda"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <!--<Label class="page__content-placeholder" *ngFor="let item of this.noticias.buscar()" [text]="item"></Label> Al poner los corchetes angular sabe que no estamos poniendo item sino que lo va interpretar como codigo typescript  -->
    <SearchForm (search)="buscarAhora($event)" [inicial]="'hola'"></SearchForm>
    <ListView class="list-group" [items]="this.resultados" itemTap="onItemTap($event)" style="height:1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress(x)"></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlingment="center" style="width: 60%"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>

 <!--<PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="this.noticias.buscar()" itemTap="onItemTap($event)" style="height:1250px">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle"></Image>
                    <Label [text]="x" class="list-group-item-heading" verticalAlingment="center" style="width: 60%"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>

    <GridLayout columns= "auto, *,auto" rows="auto, 25" verticalAligment="top" backgroundColor="lightgray">
        <Image src="~/icon.jpg" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top"/>
        <Label text="Excelente hotel!" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"/>
        <Label text="Usuario: Carlos Perez" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAligment="bottom" margin="3"/>
        <Label text="Puntaje: 4.3" col="2" row="1" color="#10C2B0" fontSize="14" verticalAligment="bottom" margin="3"/>
    </GridLayout>

-->
